            * {
                margin: 0;
                padding: 0;
            }
            
            .main {
                left: 500px;
                width: 100%;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)50%), url(111.jpg);
                background-position: center;
                background-size: cover;
                height: 109vh;
            }
            
            .navbar {
                width: 1200px;
                height: 75px;
                margin: auto;
            }
            
            .icon {
                width: 200px;
                float: left;
                height: 70px;
            }
            
            .logo {
                color: blue;
                font-size: 45px;
                font-family: Arial;
                padding-left: 20px;
                float: left;
                padding-top: 10px;
            }
            
            .menu {
                width: 400px;
                float: left;
                height: 70px;
            }
            
            ul {
                float: left;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            ul li {
                list-style: none;
                margin-left: 62px;
                margin-top: 27px;
                font-size: 15px;
            }
            
            ul li a {
                text-decoration: none;
                color: #fff;
                font-family: Arial;
                font-weight: bold;
                transition: 0.4s ease-in-out;
            }
            
            ul li a:hover {
                color: blue;
            }
            
            .search {
                margin-top: 10px;
                width: 330px;
                float: left;
                margin-left: 270px;
            }
            
            .srch {
                font-family: 'Times New Roman';
                width: 200px;
                height: 40px;
                background: transparent;
                border: 1px solid blue;
                margin-top: 13px;
                color: #fff;
                border-right: none;
                font-size: 16px;
                float: left;
                padding: 10px;
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
            }
            
            .btn {
                width: 100pX;
                height: 40px;
                background: blue;
                border: 1px solid blue;
                margin-top: 13px;
                color: #fff;
                font-size: 15px;
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
            }
            
            .btn a {
                color: #fff;
            }
            
            .btn:focus {
                outline: none;
            }
            
            .srch:focus {
                outline: none;
            }
            
            .content {
                width: 1200px;
                height: auto;
                margin: auto;
                color: #fff;
                position: relative;
                margin-top: 180px;
            }
            
            .content h1 {
                font-size: 35px;
                font-family: 'Times New Roman';
                line-height: 40px;
            }
            
            .content .bb {
                color: blue;
            }
            
            .form {
                width: 260px;
                height: 380px;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%);
                position: absolute;
                top: 80px;
                left: 870px;
                border-radius: 20px;
                padding: 25px;
                margin-top: -140px;
            }
            
            .form h2 {
                width: 220px;
                font-family: sans-serif;
                text-align: center;
                color: blue;
                font-size: 22px;
                background-color: #fff;
                border-radius: 10px;
                margin: 2px;
                padding: 8px;
            }
            
            .form input {
                width: 240px;
                height: 35px;
                background: transparent;
                border-bottom: 1px solid blue;
                border-top: none;
                border-right: none;
                border-left: none;
                color: #fff;
                font-size: 15px;
                letter-spacing: 1px;
                margin-top: 30px;
                font-family: sans-serif;
            }
            
            .form input:focus {
                outline: #fff;
            }
            
             ::placeholder {
                color: #fff;
                font-family: Arial;
            }
            
            .btnn {
                margin-left: 70px;
                width: 500px;
                height: 50px;
                background: blue;
                border: 2px solid blue;
                margin-top: -30px;
                font-size: 18px;
                border-radius: 5px;
                cursor: pointer;
                color: #fff;
                transition: 0.4s ease;
                text-align: center;
            }
            
            .bout {
                float: center;
                margin-top: 20px;
            }
            
            .btnn:hover {
                background: #fff;
                color: blue;
            }
            
            .btnn a {
                text-decoration: none;
                color: #000;
                font-weight: bold;
                text-align: center;
            }
            
            .link {
                margin-top: 30px;
                text-align: center;
            }
            
            .link a {
                color: blue;
            }
            
            .form.link a {
                text-decoration: none;
                color: blue;
            }
            
            .liw {
                padding-top: 15px;
                padding-bottom: 10px;
                text-align: center;
            }
            
            .icons a {
                text-decoration: none;
                color: #fff;
            }
            
            .icons ion-icon {
                color: #fff;
                font-size: 30px;
                padding-left: 14px;
                padding-top: 5px;
                transition: 0.4s ease;
            }
            
            .icons ion-icon:hover {
                color: blue;
            }
            
            .un {
                display: none;
            }
            
            .menu ul li:hover .un {
                display: block;
                position: absolute;
            }